@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/decor/hero_bk.png") center center no-repeat;
  background-color: #1968b1;
  background-size: cover;
  height: 100%;
  min-height: 36.1111111111rem;
  color: #fff;
  fill: #fff;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 0;
    width: 100%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: url("../img/decor/hero_bk.png") right 15% bottom no-repeat;
    background-size: cover;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    padding: 0 3%;
    font-size: 2.2222222222rem;
    line-height: 90%;
  }
}
@media screen and (max-width: 375px) {
  .hero__main-title {
    font-size: 1.8888888889rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.8888888889rem;
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5%;
    min-height: 91px;
  }
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  font-size: 36px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
.menu--vertical .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
}
.menu--vertical .menu__item {
  margin-right: 0;
  margin-bottom: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.2222222222rem;
  text-align: right;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  color: #ffd517;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.6666666667rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 1.8888888889rem;
  height: 1.8888888889rem;
  margin-right: 0.7777777778rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  font-weight: bold;
  max-width: 5rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  background: #fedb3f;
  color: #000000;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #ffd517;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.7777777778rem;
}
@media screen and (max-width: 768px) {
  .btn--theme--transparent {
    padding-left: 1.7777777778rem;
  }
}
.btn--theme--transparent:hover {
  color: #fedb3f;
  background: transparent;
}

.section {
  height: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
    line-height: 1.1;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.6666666667rem;
}

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 2.7222222222rem;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 3%;
    margin-bottom: 3.4444444444rem;
    font-size: 1rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .benefits {
    font-size: 0.8888888889rem;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.7222222222rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8888888889rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 1.6666666667rem;
    margin-bottom: 0.5555555556rem;
  }
}
@media screen and (max-width: 375px) {
  .benefit__title {
    font-size: 1.4444444444rem;
    margin-bottom: 0.2222222222rem;
  }
}

.benefit__desc {
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding-right: 2.2222222222rem;
  }
}
@media screen and (max-width: 375px) {
  .benefit__desc {
    padding-right: 0.5555555556rem;
  }
}

.benefit__image {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}

.benefit__image-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.3333333333rem 7.8888888889rem 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.4444444444rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.1111111111rem 1.3333333333rem 2.5555555556rem 1.3333333333rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviews {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.3333333333rem;
  margin-bottom: 0.5555555556rem;
  color: #292929;
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
  line-height: 1.2;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: #292929;
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-switcher__item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .reviews-switcher__item {
    width: 4.2222222222rem;
    height: 4.2222222222rem;
    border: 4px solid transparent;
  }
}
@media screen and (max-width: 480px) {
  .reviews-switcher__item {
    width: 3.7777777778rem;
    height: 3.7777777778rem;
  }
}
.reviews-switcher__item:hover {
  border-color: #ffd517;
}
.reviews-switcher__item.active {
  border-color: #ffd517;
}

.reviews-switcher__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews-switcher__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 4.2222222222rem;
    height: 4.2222222222rem;
    border: 4px solid transparent;
  }
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 3.7777777778rem;
    height: 3.7777777778rem;
  }
}
.interactive-avatar--active {
  border-color: #fedb3f;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url("../img/decor/order_bk.jpeg") center center no-repeat;
  background-size: cover;
}

.order-section-wrapper {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.7777777778rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8888888889rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.6666666667rem;
  }
  .form__row:last-child {
    margin-bottom: 0.6666666667rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 0.7777777778rem 0.6666666667rem;
  border: solid 3px transparent;
  border-radius: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3888888889rem 0.5555555556rem;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
    margin-bottom: 0.4444444444rem;
  }
}
.form__input:focus {
  border-color: #fedb3f;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls .radio {
  margin-right: 1.1111111111rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__controls .radio:last-child {
  margin-right: 0;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__btns {
  margin-top: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 2.3888888889rem;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
@media screen and (max-width: 375px) {
  .radio__visible {
    margin-right: 0.3888888889rem;
  }
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-container {
  width: 100%;
  height: 100%;
  background: url("../img/content/map.png") center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.map-container:before {
  content: url("../img/icons/marker.svg");
  position: absolute;
  top: 45%;
  left: 55%;
  -webkit-transform: scale(85%);
          transform: scale(85%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffd517;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #ffd517;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__container {
  min-height: 4.7777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 8.3888888889rem;
  }
}

.contacts {
  font-size: 1.1666666667rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    font-size: 1.1666666667rem;
    line-height: 1.14;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .socials {
    padding-bottom: 0.8333333333rem;
  }
}

.socials__item {
  margin-right: 0.7777777778rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #b3b3b3;
}
.socials__icon:hover {
  fill: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .footer__phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1666666667rem;
    line-height: 1.14;
    padding-top: 0.5555555556rem;
  }
}

.hamburger-wrapper {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-wrapper {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 100;
    background-color: #1968b1;
    border-radius: 6px;
  }
}
@media screen and (max-width: 480px) {
  .hamburger-wrapper {
    width: 30px;
    height: 30px;
    top: 1%;
    right: 2%;
    border-radius: 3px;
  }
}

.hamburger {
  width: 1.3888888889rem;
  height: 1.3333333333rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    top: 10%;
    left: 50%;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .hamburger__plank {
    height: 3px;
    border-radius: 4px;
  }
}

.fullscreen-menu {
  background: #333537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.fullscreen-menu--active {
  left: 0;
  opacity: 1;
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 42px;
  right: 42px;
}

.fullscreen-menu__close-icon {
  width: 20px;
  height: 20px;
  fill: #c2c2c3;
}
.fullscreen-menu__close-icon:hover {
  fill: #ffd517;
}

.body--active-menu {
  overflow: hidden;
}

.products-section {
  background: #f8faf9;
}

.products-slider {
  position: relative;
}
.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-slider__arrow {
  background: url("../img/icons/right.svg") center center no-repeat;
  background-size: contain;
  display: block;
  width: 1.3333333333rem;
  height: 2.2222222222rem;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.product-slider__arrow--direction--next {
  right: 0;
}
@media screen and (max-width: 768px) {
  .product-slider__arrow--direction--next {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction--next {
    right: 2%;
  }
}
.product-slider__arrow--direction--prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .product-slider__arrow--direction--prev {
    left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction--prev {
    left: 2%;
  }
}
@media screen and (max-width: 768px) {
  .product-slider__arrow {
    top: 25%;
  }
}

.parameters {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .parameters {
    display: none;
  }
}

.parameters__button {
  border-radius: 4px;
}

.parameters__button-icon {
  margin-bottom: 24px;
}

.parameters__button-icon-elem {
  fill: #3a587e;
  width: 90px;
  height: 90px;
}

.parameters:hover .parameters__button-icon-elem {
  fill: #3465a3;
}
.parameters:hover .parameters__dropdown {
  left: 100%;
  opacity: 1;
}

.parameters__dropdown {
  color: #000000;
  position: absolute;
  top: 0;
  width: 273px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 26px 25px 26px 30px;
  left: -5000px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.parameters__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 30px;
  left: -29px;
}

.parameters__table {
  width: 100%;
}

.parameters__icon {
  width: 32px;
  height: 32px;
}

.parameters__table-row {
  border-bottom: 15px solid transparent;
}
.parameters__table-row:last-child {
  border-bottom: 0;
}

.parameters__table-cell {
  vertical-align: middle;
  text-align: right;
  font-weight: 400;
}

.parameters__text-container {
  padding-left: 10px;
  text-align: left;
  font-weight: 500;
}

.parameters__text {
  font-size: 16px;
}

.products__item {
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .products__item {
    padding: 0;
  }
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product__parameters {
  margin-bottom: 20px;
}

.product__col {
  width: 50%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__col-1 {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .product__col-1 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .product__col {
    width: 80%;
    margin-right: 0;
    text-align: center;
  }
  .product__col:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .product__col {
    width: 82%;
  }
}
.product__col:last-child {
  margin-right: 0;
}

.product__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__image-bg {
  width: 396px;
  height: 378px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ececec;
}
@media screen and (max-width: 768px) {
  .product__image-bg {
    width: 307px;
    height: 293px;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}
@media screen and (max-width: 480px) {
  .product__image-bg {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (max-width: 375px) {
  .product__image-bg {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}

.product__image-elem {
  width: 150px;
  height: 535px;
  display: block;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
@media screen and (max-width: 768px) {
  .product__image-elem {
    -webkit-transform: rotate(30deg) scale(0.6);
            transform: rotate(30deg) scale(0.6);
  }
}
@media screen and (max-width: 480px) {
  .product__image-elem {
    -webkit-transform: rotate(30deg) scale(0.6);
            transform: rotate(30deg) scale(0.6);
  }
}
@media screen and (max-width: 375px) {
  .product__image-elem {
    -webkit-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
  }
}

.product__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  font-weight: bold;
  margin-bottom: 24px;
  margin-right: -20px;
  color: #0d0d0d;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 30px;
    letter-spacing: -0.1px;
    margin-right: 0;
    margin-top: -130px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    padding: 0;
  }
}

.product__text {
  margin-bottom: 23px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .product__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .product__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .product__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .product__values-block {
    text-align: right;
    padding-right: 50px;
  }
  .product__values-block:last-child {
    padding-right: 0;
  }
  .product__values-block--left {
    text-align: left;
  }
}
.product__values-block--right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .product__values-block--right {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .product__values-block {
    text-align: center;
    padding-right: 20px;
  }
}
@media screen and (max-width: 375px) {
  .product__values-block {
    padding-right: 10px;
  }
}

.product__values-amount {
  font-weight: bold;
  color: #333333;
}

.product__values-rub {
  color: #0d0d0d;
  font-size: 60px;
  font-weight: 300;
  margin-right: -60px;
}
@media screen and (max-width: 768px) {
  .product__values-rub {
    margin-right: 0;
    font-size: 56px;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 480px) {
  .product__values-rub {
    font-size: 50px;
  }
}
@media screen and (max-width: 375px) {
  .product__values-rub {
    font-size: 36px;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--desctop {
    display: none;
  }
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team--version--desctop .team__content {
  position: absolute;
  top: 100%;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  max-width: 220px;
  position: relative;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 20%;
}

.team__member {
  height: 290px;
  margin-bottom: 21px;
}
@media screen and (max-width: 480px) {
  .team__member {
    height: 180px;
  }
}

.team__title {
  padding: 0;
  border: none;
  font-size: 21px;
  font-weight: 700;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.team__title::after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: 103%;
  top: 40%;
  /* Положение треугольника */
  border: 4px solid transparent;
  /* Прозрачные границы */
  border-top: 7px solid #292929;
  /* Добавляем треугольник */
}

@media screen and (max-width: 768px) {
  .team__occ {
    font-weight: 700;
  }
}

.team__content-text {
  font-weight: 300;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__member-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 480px) {
  .team__member-pic {
    width: 138px;
    display: block;
    margin: 0 auto;
  }
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}

.modal__container {
  background: #fff;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 30px;
  color: #000;
}

.input-error {
  border-color: red;
}

.products-menu-section {
  background: url("../img/bg/products-menu.jpeg") center center/cover no-repeat;
  position: relative;
  color: #fff;
}
.products-menu-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.section__title.products-menu-section__title {
  position: absolute;
  top: 110px;
  left: 85px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section__title.products-menu-section__title {
    top: 85px;
    left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section__title.products-menu-section__title {
    top: 75px;
    left: 10px;
  }
}
.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__image {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-menu__title {
  position: relative;
  width: 100px;
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    width: 90px;
  }
}
@media screen and (max-width: 375px) {
  .products-menu__title {
    width: 60px;
  }
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.products-menu__title-text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 48px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .products-menu__title-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .products-menu__title-text {
    font-size: 24px;
  }
}

.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.products-menu__content-text {
  font-size: 16px;
  line-height: 24px;
}

.products-menu__container {
  padding: 31px 80px 35px 38px;
}
@media screen and (max-width: 768px) {
  .products-menu__container {
    padding: 42px 53px 35px 38px;
  }
}
@media screen and (max-width: 480px) {
  .products-menu__container {
    padding: 40px 35px 35px 30px;
  }
}
@media screen and (max-width: 375px) {
  .products-menu__container {
    padding: 40px 15px 20px 20px;
  }
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}
@media screen and (max-width: 768px) {
  .products-menu__close {
    display: none;
  }
}

.products-menu__close-icon {
  width: 18px;
  height: 18px;
  display: block;
  fill: #c2c3c4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.products-menu__close-icon:hover {
  fill: #ffd517;
}