.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
    font-size: 18px;
  }
  @include mobileSM {
    font-size: 16px;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  @include phones {
    padding: 0;
    @include phones {
      margin-bottom: rem(31px);
    }
  }

  &:before {
    content: url("../img/decor/separator.png");
    position: absolute;
    top: 60px;
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}
