.footer__container {
  min-height: rem(86px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  font-size: rem(21px);
}

.socials {
  display: flex;
  align-items: center;
  font-size: rem(20px);
}
.socials__item {
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}
.socials__icon {
  width: rem(20px);
  height: rem(20px);
  fill: #b3b3b3;

  &:hover {
    fill: #000;
    transition: 0.5s;
  }
}
.socials__link {
  display: flex;
}
