.parameters {
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include tablets {
    display: none;
  }
}

.parameters__button {
  border-radius: 4px;
}

.parameters__button-icon {
  margin-bottom: 24px;
}

.parameters__button-icon-elem {
  fill: #3a587e;
  width: 90px;
  height: 90px;
}

.parameters {
  &:hover {
    .parameters__button-icon-elem {
      fill: #3465a3;
    }
    .parameters__dropdown {
      left: 100%;
      opacity: 1;
    }
  }
}
